---
layout: default
---
<div class="bg-header">
  {% include header.html %}
</div>

<div class="content-post">
  <div class="size margin">
    <div class="" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <h2>Recent entries</h2>
    </div>
    {% include posts.html %}
    <div class="" style="margin-top: 1rem;" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <a href="https://forms.gle/evPWwvD3pHs3NvG18" class="button" target="_blank">Add a new word or term...</a>
    </div>
  </div>
</div>
