---
layout: default
---
{% include minutes-to-read.html %}

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <!--<h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.title }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      Created on <time>{{ page.date | date_to_string }}</time>
    </div>-->
    <!-- titles -->

    <!-- posts -->
    <div class="margin-top-20 margin-bottom-50">
      {{ page.other_section | markdownify }}
      {% for x in page.entries %}
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
        <div class="flex-basis-400 flex-grow-5">
          <center>
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <h1 class="list-post-title">
            {{x.entry}}
            </h1>
            <p>
            {% if x.lexicalcategory %}
            <b>{{x.lexicalcategory}}</b>
            {% endif %}
            <br />
            {% if x.japanese %}
            {{x.japanese}}
             • 
            {% endif %}
            {% if x.ipa %}
            \ {{x.ipa}} \
            {% endif %}
            {% if x.audio %}
            <script>
              function play() {
                var audio = document.getElementById("audio");
                audio.play();
              }
            </script>
            <a style="cursor: pointer;" value="PLAY" onclick="play()">
              <svg id="Layer_1" enable-background="new 0 0 511.449 511.449" height="16" viewBox="0 0 511.449 511.449" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m436.508 74.941c-99.913-99.913-261.639-99.927-361.566 0-99.914 99.912-99.93 261.64 0 361.567 99.913 99.913 261.639 99.927 361.566 0 99.914-99.912 99.929-261.64 0-361.567zm-170.45 287.45c0 17.061-19.334 26.997-33.206 17.088l-69.189-49.421h-35.938c-11.598 0-21-9.402-21-21v-106.667c0-11.598 9.402-21 21-21h35.938l69.189-49.421c13.884-9.918 33.206.042 33.206 17.088zm39.339-25.327c-18.54 0-28.119-22.58-14.849-35.85 25.144-25.145 25.142-65.837 0-90.98-8.201-8.201-8.202-21.498-.001-29.699s21.498-8.201 29.699 0c41.561 41.56 41.555 108.824 0 150.378-4.1 4.101-9.475 6.151-14.849 6.151zm60.105 39.104c-8.201 8.201-21.499 8.201-29.699 0s-8.2-21.498 0-29.698c50.037-50.038 50.037-131.454 0-181.491-8.2-8.201-8.2-21.498 0-29.698 8.201-8.201 21.498-8.201 29.699 0 66.413 66.413 66.413 174.474 0 240.887z"/></svg>
            </a>
            <audio id="audio" src="{{ site.baseurl }}/entryaudio/{{ x.audio }}"></audio>
            {% endif %}
            </p>
            
          </div>
        </center>
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              {{x.definition}}
              {% if x.example1 or x.example2 or x.example3 %}
              <div style="margin-top: 1rem;">
              <b>Example sentences:</b>
                {% if x.example1 %}
                <div>
                ▸ &quot;{{x.example1}}&quot;
                </div>
                {% endif %}
                {% if x.example2 %}
                <div>
                ▸ &quot;{{x.example2}}&quot;
                </div>
                {% endif %}
                {% if x.example3 %}
                <div>
                ▸ &quot;{{x.example3}}&quot;
                </div>
                {% endif %}
              </div>
              {% endif %}
            </span>
            {% if x.imageembed %}
              <div style="text-align: center; margin-top: 1rem;">
                <img src="{{ x.imageembed }}" width="300">
              </div>
            {% endif %}
            {% if x.youtubevideo %}
              <div style="text-align: center; margin-top: 1rem;">
                <iframe width="300" height="169" style="border:0;" src="https://www.youtube.com/embed/{{ x.youtubevideo }}">
                </iframe>
              </div>
            {% endif %}
            {% if x.twitterembed %}
              <div style="margin-top: 1rem;">
                <center>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="{{ x.twitterembed }}?ref_src=twsrc%5Etfw"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </center>
              </div>
            {% endif %}
            {% if x.customcode %}
              <div style="margin-top: 1rem;">
                <center>
                  {{ x.customcode }}
                </center>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- posts -->

    <!-- content -->
    {{ content }}

    <!-- content -->
  </article>
  <div class="" style="margin-top: 3rem; margin-bottom: 3rem;" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
    <a href="https://forms.gle/evPWwvD3pHs3NvG18" class="button" target="_blank">Add or update a word or term...</a> <a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="button" id="facebook" target="_blank">Share</a> <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={% if page.title %}{{ page.title | capitalize }} %7C Definition %7C {{ site.name }}{% else %}{{ site.name }}{% endif %}&via=VTDictionary" class="button" id="twitter" target="_blank">Tweet</a> <a onclick="copyToClipboard()" class="button" id="link">Copy Link</a>
  </div>
</div>
