---
layout: default
---
{% include minutes-to-read.html %}

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <!--<h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.title }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      Created on <time>{{ page.date | date_to_string }}</time>
    </div>-->
    <!-- titles -->

    <!-- posts -->
    <div class="margin-top-20 margin-bottom-50">
      {% for x in page.entries %}
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
        <div class="flex-basis-400 flex-grow-5">
          <center>
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <h1 class="list-post-title">
            {{x.entry}}
            </h1>
            <p>
            {% if x.lexicalcategory %}
            <b>{{x.lexicalcategory}}</b>
            {% endif %}
            <br />
            {% if x.japanese %}
            {{x.japanese}}
             • 
            {% endif %}
            {% if x.ipa %}
            \ {{x.ipa}} \
            {% endif %}
            </p>
            
          </div>
        </center>
          <div class="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              {{x.definition}}
              {% if x.example1 or x.example2 or x.example3 %}
              <div style="margin-top: 1rem;">
              <b>Example sentences:</b>
                {% if x.example1 %}
                <div>
                ▸ &quot;{{x.example1}}&quot;
                </div>
                {% endif %}
                {% if x.example2 %}
                <div>
                ▸ &quot;{{x.example2}}&quot;
                </div>
                {% endif %}
                {% if x.example3 %}
                <div>
                ▸ &quot;{{x.example3}}&quot;
                </div>
                {% endif %}
              </div>
              {% endif %}
            </span>
            {% if x.imageembed %}
              <div style="text-align: center; margin-top: 1rem;">
                <img src="{{ x.imageembed }}" width="300">
              </div>
            {% endif %}
            {% if x.youtubevideo %}
              <div style="text-align: center; margin-top: 1rem;">
                <iframe width="300" height="169" style="border:0;" src="https://www.youtube.com/embed/{{ x.youtubevideo }}">
                </iframe>
              </div>
            {% endif %}
            {% if x.twitterembed %}
              <div style="margin-top: 1rem;">
                <center>
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="{{ x.twitterembed }}?ref_src=twsrc%5Etfw"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </center>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- posts -->

    <!-- content -->
    {{ content }}

    <!-- content -->
  </article>
  <div class="" style="margin-top: 3rem; margin-bottom: 3rem;" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
    <a href="https://github.com/Madekuji/vtuberdictionary/issues/new?assignees=Madekuji&labels=entry&template=dictionary-entry.md&title=%5BENTRY%5D+%28insert+word+or+term+here%29" class="button" target="_blank">Add or update a word or term...</a>
  </div>
</div>
